@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
::-webkit-scrollbar{
    width: 0;
}
#container{
    background-color: #005985;
}
#pages .p{
    scroll-snap-align: center;
    height: 100vh;
}
nav{
    padding-top: 2vh;
    width: 100%;
    position: relative;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.2vw;
    align-items: center;
    column-gap: 2vw;
}
#nul{
    margin: 0 2vw;
}
nav a{
    text-decoration: none;
    transition: color 0.3s;
}
nav a:hover{
    color: greenyellow;
}
#nplink{
    display: flex;
    align-items: center;
    column-gap: 1vw;
}
#nplink img{
    border-radius: 2rem;
}
#page1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.374),rgb(0, 0, 0)), url( https://i.gifer.com/origin/b2/b2e68b4db3ec996cbda4e466314228af_w200.gif);
    background-size: 20%;
    background-position: center;

}
#page1 h2{
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
  letter-spacing: 0.5vw;
}
#page1 h2 span:first-child{
    font-weight: lighter;
}
#page1 h2 span:last-child{
    color: white;
}
#kme{
    text-wrap: nowrap;
    color: greenyellow;
}
#page2{
    position: relative;
}
#page2 h2{
    font-weight: lighter;
    text-align: center;
}
#page2{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #00779d;
}
.projects{
    height: 100%;
    width: 100%;
    position: absolute;
   background-color: inherit;
   opacity: 1;
   transition: opacity 0.3s;
}
.projects-none{
    opacity: 0;
}
.projects > div{
    position: relative;
    width: 100%;
    height: 100%;
}
.projects > div > div{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* grid-template-columns: repeat(2,1fr); */
    column-gap: 1rem;
    row-gap: 0.5rem;
}
.projects > div > h2{
    text-align: center;
}
.projects > div > div > div{
    /* background-color: #00ace5; */
    box-shadow: 0 0 5px black;
    border-radius: 1rem;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}
.projects > div > div > div > img{
    max-width: 11rem;
    border-radius: 0.5rem;
    }
   .projects > div > div > div > a{
    text-decoration: none;
    box-shadow: -8px -8px 10px rgba(255, 255, 255, 0.237), 5px 5px 10px rgba(0, 0, 0, 0.237);
    border-radius: 1rem;
    padding: 0.3rem;
}
.projects > div > div > div > button{
    border: none;
    background-color: transparent;
    box-shadow: -8px -8px 10px rgba(255, 255, 255, 0.237), 5px 5px 10px rgba(0, 0, 0, 0.237);
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#project{
    position: absolute;
    height: 100%;
    width: 100%;
}
#Chart{
    width:20rem !important;
    height: fit-content !important;
    box-shadow: -8px -8px 10px rgba(255, 255, 255, 0.237), 5px 5px 10px rgba(0, 0, 0, 0.237);
    padding: 0.5rem;
    border-radius: 1rem;
}
#project > div{
    position: relative;
    width: 100%;
    height: 100%;
}
#project > div h2{
    text-align: center;
}
#project > div > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
#project > div > div > div {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    box-shadow: -8px -8px 10px rgba(255, 255, 255, 0.237), 5px 5px 10px rgba(0, 0, 0, 0.237);
    padding: 0.5rem;
    border-radius: 1rem;
}
#project > div > div > div > img{
    width: 15rem;
}
#project > div > div > div p{
    text-align: center;
}
@media only screen and (max-width:801px) {
    #project > div > div > div > img{
        width: 15vw;
        min-width: 8rem;
    }
}
@media only screen and (max-width:760px) {
    #Chart{
        width:40vw !important;
        height: fit-content !important;
        min-width: 10rem;
    }
    #project > div > div{
        flex-direction: column;
        row-gap: 2rem;
    }
}
@media only screen and (max-width:1242px) {
    .projects > div > div{
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    }
    .projects > div > div > div{
        padding: 0.5rem;
        row-gap: 1rem;
    }
}
@media only screen and (max-width:659px) {
    .projects > div > div{
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    row-gap: 0.5rem;
    }
    .projects > div > div > div > img{
        width: 7rem;
    }
    .projects > div  > div > div{
        row-gap: 0.5rem;
    }
}
#page3,#page4{
   position: relative;
   z-index: 2;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
#page3 > h2,#page4 > h2{
    font-weight: lighter;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0vh;
}
#page3 > div,#page4 > div{
   text-align: center;
   display: flex;
   column-gap: 10vw;
}
#page3 > div h2{
    font-weight: lighter;
}
#page3 > div > div{
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}
#page3 > div > div:nth-child(2) p{
    color: lightgreen;
}
#schart{
    background-color: white;
}
#schart *{
    color: black;
}
#page4 > div{
    /* box-shadow: 0 0 10px 0px black; */
    padding: 4vw 5vw;
    flex-direction: column;
    border-radius: 1rem;
    row-gap: 5vw;
    /* background-color: #0170a7; */
    border: 2px solid #0170a7;
}
#page4 > div > a{
    text-decoration: none;
    background-color: #0382c2;
    border-radius: 0.5rem;
    padding: 0.5vw;
    box-shadow: 0 0 5px 0px transparent;
    transition: box-shadow 0.2s;
}
#page4 > div > a:hover{
    box-shadow: 0 0 5px 0 black;
}
@media only screen and (max-width:945px){
    #page3 > div{
        flex-direction: column;
        row-gap: 1vh;
    }
    #page3 > div > div{
        row-gap: 0vh;
    }
}
@media only screen and (max-width:466px){
    nav *{
        flex-direction: column;
        row-gap: 2vh;
    }
    nav{
        background-color: rgba(255, 252, 252, 0.37);
        transform: translateY(-100%);
        transition: transform 0.3s;
    }
    .ndisplay{
        transform: translateY(0%);
    }
    #sdbrbutton{
    position: absolute;
    left: 1vw;
    top: 1vw;
    background-color: transparent;
    transition: background-color 0.2s;
    z-index: 2;
    }
    #sdbrbutton:hover{
        background-color: rgba(255, 252, 252, 0.618);
    }
    #sdbrbutton span{
        display: block;
        width: 1.5rem;
        height: 0.2rem;
        margin: 0.4rem;
        background-color: white;
        border-radius: 1rem;
    }
}
/* #banimation{
    position: absolute;
}
#banimation > div{
    position: relative;
    height: 200vh;
}
#banimation > div > div{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: red;
}
#banimation > div > div:nth-child(2){
    top: 100vh;
    background-color: green;
}
.block1{
    position: absolute;
    height: 100px;
    width: 50px;
    opacity: 1;
    background-color: #005985;
    box-shadow: 0px 0px 50px rgb(0, 0, 0,0.2);
} */





